/* You can add global styles to this file, and also import other style files */
.sp-page-builder .page-content #home {
    min-height: 100vh;
    padding-top: 200px;
    padding-right: 0px;
    padding-bottom: 50px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    background-image: url(/arlo/images/2019/06/13/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: 50% 50%;
}

.sp-page-builder .page-content #home>.sppb-row-overlay {
    background-color: rgba(7, 23, 55, .8)
}

.sp-page-builder .page-content #home>.sppb-row-overlay {
    mix-blend-mode: normal;
}

#column-id-1560467507968 {
    box-shadow: 0 0 0 0 #fff;
}

#sppb-addon-1560467507975 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0px 0px 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560467507975 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560467507975 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#sppb-addon-1560467507975 .sppb-addon-single-image-container {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin-bottom: 38px;
}

#sppb-addon-1560467507975 .sppb-addon-single-image-container img {
    border-radius: 100%;
    border: 8px solid rgba(255, 255, 255, .5);
}

#sppb-addon-1560467507972 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0px 0px 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560467507972 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560467507972 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#sppb-addon-1560467507972 h3 {
    font-family: "Montserrat";
    text-transform: uppercase;
    color: #fff;
    font-size: 50px;
    font-weight: 300;
}

#sppb-addon-1560467507972 h3 span {
    font-weight: 500;
    color: #E3872D;
}

#sppb-addon-1560467507972 p {
    color: #fff;
    font-size: 24px;
    font-family: "Montserrat";
}

#sppb-addon-1560467507972 .typewrite {
    font-weight: 600;
    line-height: 1;
    font-family: "Montserrat";
}

#sppb-addon-1560552286256 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0px 0px 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560552286256 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560552286256 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#sppb-addon-1560552286256 .sppb-empty-space {
    height: 140px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560552286256 .sppb-empty-space {
        height: 30px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560552286256 .sppb-empty-space {
        height: 20px;
    }
}

#sppb-addon-1560552286253 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0px 0px 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560552286253 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560552286253 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#sppb-addon-1560552286253 .sppb-icon {
    color: #fff;
    font-size: 30px;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

#sppb-addon-1560552286253 .sppb-icon a {
    color: #fff;
}

.sp-page-builder .page-content #about {
    padding-top: 100px;
    padding-right: 0px;
    padding-bottom: 100px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#column-id-1560463663074 {
    box-shadow: 0 0 0 0 #fff;
}

#sppb-addon-1560467507988 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0px 0px 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560467507988 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560467507988 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#sppb-addon-1560467507988 .sppb-addon-text-block {
    padding-bottom: 100px;
    position: relative;
}

#sppb-addon-1560467507988 .sppb-addon-text-block:before {
    position: absolute;
    content: "";
    width: 6px;
    height: 72px;
    background-color: #E3872D;
    top: 2px;
}

#sppb-addon-1560467507988 .sppb-addon-title {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -.5px;
    padding-left: 25px;
    line-height: 1;
}

#sppb-addon-1560467507988 .sppb-addon-content {
    font-size: 16px;
    font-family: "Montserrat";
    padding-left: 25px;
}

.sp-page-builder .page-content #section-id-1560467507991 {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

#column-id-1560467507992 {
    box-shadow: 0 0 0 0 #fff;
}

#sppb-addon-1560467508010 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0px 0px 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560467508010 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560467508010 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#sppb-addon-1560467508010 .sppb-addon-single-image-container {
    position: relative;
}

#sppb-addon-1560467508010 .sppb-addon-single-image-container:after {
    position: absolute;
    top: 25px !important;
    bottom: -25px !important;
    left: 25px !important;
    right: -25px !important;
    border: 10px solid #041230;
    content: "";
    z-index: -1;
}

#sppb-addon-1560467508015 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0px 0px 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560467508015 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560467508015 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#sppb-addon-1560467508015 .sppb-empty-space {
    height: 60px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560467508015 .sppb-empty-space {
        height: 60px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560467508015 .sppb-empty-space {
        height: 60px;
    }
}

#sppb-addon-1560467508022 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0px 0px 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560467508022 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560467508022 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#sppb-addon-1560467508022 h4 {
    line-height: 1;
    margin-bottom: 18px;
}

#sppb-addon-1560467508022 .definition {
    margin-bottom: 15px;
}

#sppb-addon-1560467508022 ul {
    margin: 0px;
    list-style-type: none;
}

#sppb-addon-1560467508022 ul li {
    margin: 0px 0px 10px 0px;
    width: 50%;
    float: left;
}

#sppb-addon-1560467508022 ul li a {
    color: #000;
}

#sppb-addon-1560467508022 ul li a:hover {
    color: #E3872D;
}

#sppb-addon-1560467508022 ul li label {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 13px;
    color: #000;
    min-width: 85px;
    display: inline-block;
}

#sppb-addon-1560467508049 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0px 0px 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560467508049 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560467508049 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#sppb-addon-1560467508049 .sppb-empty-space {
    height: 28px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560467508049 .sppb-empty-space {
        height: 28px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560467508049 .sppb-empty-space {
        height: 28px;
    }
}

#sppb-addon-1560467508054 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0px 0px 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560467508054 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560467508054 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#sppb-addon-1560467508054 .sppb-btn:nth-child(2) {
    margin-left: 30px;
}

@media (max-width:420px) {
    #sppb-addon-1560467508054 .sppb-btn {
        margin-bottom: 30px;
    }

    #sppb-addon-1560467508054 .sppb-btn:nth-child(2) {
        margin-left: 0px;
        margin-bottom: 0px;
    }
}

.sp-page-builder .page-content #section-id-1560467508068 {
    padding-top: 90px;
    padding-right: 0px;
    padding-bottom: 90px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    background-color: #f6f7fd;
}

#column-id-1560467508067 {
    box-shadow: 0 0 0 0 #fff;
}

#sppb-addon-1560467508072 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0px 0px 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560467508072 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560467508072 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#sppb-addon-1560467508072 .sppb-addon-title {
    line-height: 1;
    margin-bottom: 18px;
}

#sppb-addon-1560554711700 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0px 0px 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560554711700 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560554711700 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#sppb-addon-1560554711700 .sppb-empty-space {
    height: 40px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560554711700 .sppb-empty-space {
        height: 40px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560554711700 .sppb-empty-space {
        height: 40px;
    }
}

#sppb-addon-1560467508075 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0px 0px 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560467508075 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560467508075 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#sppb-addon-1560467508075 .sppb-progress-label span:first-child {
    float: unset;
    font-size: 12px;
    font-weight: 600;
}

#sppb-addon-1560467508075 .sppb-progress {
    height: 5px;
}

#sppb-addon-1560467508075 .sppb-progress-bar {
    line-height: 5px;
}

#sppb-addon-1560467508075 .sppb-progress {
    background-color: rgba(0, 0, 0, .1);
}

#sppb-addon-1560467508075 .sppb-progress-bar {
    background-color: rgb(0, 0, 0);
}

#sppb-addon-1560467508093 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0px 0px 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560467508093 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560467508093 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#sppb-addon-1560467508093 .sppb-progress-label span:first-child {
    float: unset;
    font-size: 12px;
    font-weight: 600;
}

#sppb-addon-1560467508093 .sppb-progress {
    height: 5px;
}

#sppb-addon-1560467508093 .sppb-progress-bar {
    line-height: 5px;
}

#sppb-addon-1560467508093 .sppb-progress {
    background-color: rgba(0, 0, 0, .1);
}

#sppb-addon-1560467508093 .sppb-progress-bar {
    background-color: rgb(0, 0, 0);
}

#sppb-addon-1560467508090 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0px 0px 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560467508090 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560467508090 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#sppb-addon-1560467508090 .sppb-progress-label span:first-child {
    float: unset;
    font-size: 12px;
    font-weight: 600;
}

#sppb-addon-1560467508090 .sppb-progress {
    height: 5px;
}

#sppb-addon-1560467508090 .sppb-progress-bar {
    line-height: 5px;
}

#sppb-addon-1560467508090 .sppb-progress {
    background-color: rgba(0, 0, 0, .1);
}

#sppb-addon-1560467508090 .sppb-progress-bar {
    background-color: rgb(0, 0, 0);
}

#sppb-addon-1560467508087 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0px 0px 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560467508087 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560467508087 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#sppb-addon-1560467508087 .sppb-progress-label span:first-child {
    float: unset;
    font-size: 12px;
    font-weight: 600;
}

#sppb-addon-1560467508087 .sppb-progress {
    height: 5px;
}

#sppb-addon-1560467508087 .sppb-progress-bar {
    line-height: 5px;
}

#sppb-addon-1560467508087 .sppb-progress {
    background-color: rgba(0, 0, 0, .1);
}

#sppb-addon-1560467508087 .sppb-progress-bar {
    background-color: rgb(0, 0, 0);
}

.sp-page-builder .page-content #services {
    padding-top: 100px;
    padding-right: 0px;
    padding-bottom: 100px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#column-id-1560474639250 {
    box-shadow: 0 0 0 0 #fff;
}

#sppb-addon-1560474639251 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0px 0px 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560474639251 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560474639251 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#sppb-addon-1560474639251 .sppb-addon-text-block {
    padding-bottom: 100px;
    position: relative;
}

#sppb-addon-1560474639251 .sppb-addon-text-block:before {
    position: absolute;
    content: "";
    width: 6px;
    height: 72px;
    background-color: #E3872D;
    top: 2px;
}

#sppb-addon-1560474639251 .sppb-addon-title {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -.5px;
    padding-left: 25px;
    line-height: 1;
}

#sppb-addon-1560474639251 .sppb-addon-content {
    font-size: 16px;
    font-family: "Montserrat";
    padding-left: 25px;
}

.sp-page-builder .page-content #section-id-1560474639202 {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

#column-id-1560474639203 {
    box-shadow: 0 0 0 0 #fff;
}

#sppb-addon-1560474639212 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0px 0px 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560474639212 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560474639212 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#sppb-addon-1560474639212 .sppb-addon-feature {
    width: 100%;
    height: auto;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    padding: 40px 40px 33px 40px;
    top: 0px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#sppb-addon-1560474639212 .sppb-icon {
    margin-bottom: 13px;
    color: #E3872D;
    font-size: 40px;
}

#sppb-addon-1560474639212 .sppb-addon-title {
    margin-bottom: 17px;
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: 600;
    color: #000000;
    line-height: 1;
}

#sppb-addon-1560474639212 .sppb-addon-feature:hover {
    top: -5px;
}

#sppb-addon-1560474639212 .sppb-icon .sppb-icon-container {
    box-shadow: 0 0 0 0 #ffffff;
    display: inline-block;
    text-align: center;
    padding: 0 0 0 0;
    border-width: 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560474639212 .sppb-media .sppb-media-body {
        width: auto;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560474639212 .sppb-media .sppb-media-body {
        width: auto;
    }
}

#sppb-addon-1560474639212 {
    transition: .3s;
}

#sppb-addon-1560474639212:hover {
    box-shadow: 0 0 0 0 #ffffff;
}

#sppb-addon-1560474639239 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0px 0px 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560474639239 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560474639239 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#sppb-addon-1560474639239 .sppb-empty-space {
    height: 30px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560474639239 .sppb-empty-space {
        height: 30px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560474639239 .sppb-empty-space {
        height: 30px;
    }
}

#sppb-addon-1560474639254 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0px 0px 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560474639254 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560474639254 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#sppb-addon-1560474639254 .sppb-addon-feature {
    width: 100%;
    height: auto;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    padding: 40px 40px 33px 40px;
    top: 0px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#sppb-addon-1560474639254 .sppb-icon {
    margin-bottom: 13px;
    color: #E3872D;
    font-size: 40px;
}

#sppb-addon-1560474639254 .sppb-addon-title {
    margin-bottom: 17px;
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: 600;
    color: #000000;
    line-height: 1;
}

#sppb-addon-1560474639254 .sppb-addon-feature:hover {
    top: -5px;
}

#sppb-addon-1560474639254 .sppb-icon .sppb-icon-container {
    box-shadow: 0 0 0 0 #ffffff;
    display: inline-block;
    text-align: center;
    padding: 0 0 0 0;
    border-width: 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560474639254 .sppb-media .sppb-media-body {
        width: auto;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560474639254 .sppb-media .sppb-media-body {
        width: auto;
    }
}

#sppb-addon-1560474639254 {
    transition: .3s;
}

#sppb-addon-1560474639254:hover {
    box-shadow: 0 0 0 0 #ffffff;
}

#sppb-addon-1560554711711 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0px 0px 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560554711711 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560554711711 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#sppb-addon-1560554711711 .sppb-empty-space {
    height: 30px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560554711711 .sppb-empty-space {
        height: 30px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560554711711 .sppb-empty-space {
        height: 30px;
    }
}

#sppb-addon-1560474639221 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0px 0px 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560474639221 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560474639221 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#sppb-addon-1560474639221 .sppb-addon-feature {
    width: 100%;
    height: auto;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    padding: 40px 40px 33px 40px;
    top: 0px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#sppb-addon-1560474639221 .sppb-icon {
    margin-bottom: 13px;
    color: #E3872D;
    font-size: 40px;
}

#sppb-addon-1560474639221 .sppb-addon-title {
    margin-bottom: 17px;
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: 600;
    color: #000000;
    line-height: 1;
}

#sppb-addon-1560474639221 .sppb-addon-feature:hover {
    top: -5px;
}

#sppb-addon-1560474639221 .sppb-icon .sppb-icon-container {
    box-shadow: 0 0 0 0 #ffffff;
    display: inline-block;
    text-align: center;
    padding: 0 0 0 0;
    border-width: 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560474639221 .sppb-media .sppb-media-body {
        width: auto;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560474639221 .sppb-media .sppb-media-body {
        width: auto;
    }
}

#sppb-addon-1560474639221 {
    transition: .3s;
}

#sppb-addon-1560474639221:hover {
    box-shadow: 0 0 0 0 #ffffff;
}

#sppb-addon-1560474639244 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0px 0px 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560474639244 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560474639244 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#sppb-addon-1560474639244 .sppb-empty-space {
    height: 30px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560474639244 .sppb-empty-space {
        height: 30px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560474639244 .sppb-empty-space {
        height: 30px;
    }
}

#sppb-addon-1560474639259 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0px 0px 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560474639259 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560474639259 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#sppb-addon-1560474639259 .sppb-addon-feature {
    width: 100%;
    height: auto;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    padding: 40px 40px 33px 40px;
    top: 0px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#sppb-addon-1560474639259 .sppb-icon {
    margin-bottom: 13px;
    color: #E3872D;
    font-size: 40px;
}

#sppb-addon-1560474639259 .sppb-addon-title {
    margin-bottom: 17px;
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: 600;
    color: #000000;
    line-height: 1;
}

#sppb-addon-1560474639259 .sppb-addon-feature:hover {
    top: -5px;
}

#sppb-addon-1560474639259 .sppb-icon .sppb-icon-container {
    box-shadow: 0 0 0 0 #ffffff;
    display: inline-block;
    text-align: center;
    padding: 0 0 0 0;
    border-width: 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560474639259 .sppb-media .sppb-media-body {
        width: auto;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560474639259 .sppb-media .sppb-media-body {
        width: auto;
    }
}

#sppb-addon-1560474639259 {
    transition: .3s;
}

#sppb-addon-1560474639259:hover {
    box-shadow: 0 0 0 0 #ffffff;
}

#sppb-addon-1560554711720 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0px 0px 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560554711720 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560554711720 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#sppb-addon-1560554711720 .sppb-empty-space {
    height: 30px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560554711720 .sppb-empty-space {
        height: 30px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560554711720 .sppb-empty-space {
        height: 30px;
    }
}

#sppb-addon-1560474639226 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0px 0px 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560474639226 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560474639226 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#sppb-addon-1560474639226 .sppb-addon-feature {
    width: 100%;
    height: auto;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    padding: 40px 40px 33px 40px;
    top: 0px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#sppb-addon-1560474639226 .sppb-icon {
    margin-bottom: 13px;
    color: #E3872D;
    font-size: 40px;
}

#sppb-addon-1560474639226 .sppb-addon-title {
    margin-bottom: 17px;
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: 600;
    color: #000000;
    line-height: 1;
}

#sppb-addon-1560474639226 .sppb-addon-feature:hover {
    top: -5px;
}

#sppb-addon-1560474639226 .sppb-icon .sppb-icon-container {
    box-shadow: 0 0 0 0 #ffffff;
    display: inline-block;
    text-align: center;
    padding: 0 0 0 0;
    border-width: 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560474639226 .sppb-media .sppb-media-body {
        width: auto;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560474639226 .sppb-media .sppb-media-body {
        width: auto;
    }
}

#sppb-addon-1560474639226 {
    transition: .3s;
}

#sppb-addon-1560474639226:hover {
    box-shadow: 0 0 0 0 #ffffff;
}

#sppb-addon-1560474639249 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0px 0px 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560474639249 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560474639249 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#sppb-addon-1560474639249 .sppb-empty-space {
    height: 30px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560474639249 .sppb-empty-space {
        height: 30px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560474639249 .sppb-empty-space {
        height: 30px;
    }
}

#sppb-addon-1560474639264 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0px 0px 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560474639264 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560474639264 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#sppb-addon-1560474639264 .sppb-addon-feature {
    width: 100%;
    height: auto;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    padding: 40px 40px 33px 40px;
    top: 0px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#sppb-addon-1560474639264 .sppb-icon {
    margin-bottom: 13px;
    color: #E3872D;
    font-size: 40px;
}

#sppb-addon-1560474639264 .sppb-addon-title {
    margin-bottom: 17px;
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: 600;
    color: #000000;
    line-height: 1;
}

#sppb-addon-1560474639264 .sppb-addon-feature:hover {
    top: -5px;
}

#sppb-addon-1560474639264 .sppb-icon .sppb-icon-container {
    box-shadow: 0 0 0 0 #ffffff;
    display: inline-block;
    text-align: center;
    padding: 0 0 0 0;
    border-width: 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560474639264 .sppb-media .sppb-media-body {
        width: auto;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560474639264 .sppb-media .sppb-media-body {
        width: auto;
    }
}

#sppb-addon-1560474639264 {
    transition: .3s;
}

#sppb-addon-1560474639264:hover {
    box-shadow: 0 0 0 0 #ffffff;
}

.sp-page-builder .page-content #portfolio {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 100px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#column-id-1560474639278 {
    box-shadow: 0 0 0 0 #fff;
}

#sppb-addon-1560474639279 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0px 0px 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560474639279 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560474639279 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#sppb-addon-1560474639279 .sppb-addon-text-block {
    padding-bottom: 100px;
    position: relative;
}

#sppb-addon-1560474639279 .sppb-addon-text-block:before {
    position: absolute;
    content: "";
    width: 6px;
    height: 72px;
    background-color: #E3872D;
    top: 2px;
}

#sppb-addon-1560474639279 .sppb-addon-title {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -.5px;
    padding-left: 25px;
    line-height: 1;
}

#sppb-addon-1560474639279 .sppb-addon-content {
    font-size: 16px;
    font-family: "Montserrat";
    padding-left: 25px;
}

#sppb-addon-1560526075006 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0px 0px 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560526075006 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560526075006 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#sppb-addon-1560526075006 .sp-simpleportfolio .sp-simpleportfolio-filter {
    text-align: left;
    margin-bottom: 30px;
}

#sppb-addon-1560526075006 .sp-simpleportfolio .sp-simpleportfolio-filter>ul>li {
    float: left;
    display: block;
    margin: 0 40px 0 0;
}

#sppb-addon-1560526075006 .sp-simpleportfolio .sp-simpleportfolio-filter>ul>li:last-child {
    margin-right: 0;
}

#sppb-addon-1560526075006 .sp-simpleportfolio .sp-simpleportfolio-filter>ul>li>a {
    padding: 0;
    background: transparent;
    text-decoration: none;
    border-radius: 0;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    margin-bottom: 10px;
    position: relative;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}

#sppb-addon-1560526075006 .sp-simpleportfolio .sp-simpleportfolio-filter>ul>li.active>a {
    background: transparent;
    color: #E3872D;
}

#sppb-addon-1560526075006 .sp-simpleportfolio .sp-simpleportfolio-item .sp-simpleportfolio-overlay-wrapper .sp-simpleportfolio-overlay {
    background: rgba(4, 18, 48, 0.8);
}

#sppb-addon-1560526075006 .sp-simpleportfolio .sp-simpleportfolio-item .sp-simpleportfolio-btns a {
    font-size: 14px;
}

#sppb-addon-1560526075006 .sp-simpleportfolio .sp-simpleportfolio-item .sp-simpleportfolio-btns a:hover {
    background: #fff;
    border-color: #fff;
    color: #E3872D;
}

#sppb-addon-1560526075006 .sp-simpleportfolio .sp-simpleportfolio-item .sp-vertical-middle>div .sp-simpleportfolio-title {
    margin-top: 18px;
    display: inline-block;
    letter-spacing: 0;
    line-height: 1.4;
    font-weight: 600;
    font-family: "Montserrat";
    font-size: 22px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.sp-page-builder .page-content #section-id-1560526075010 {
    padding-top: 90px;
    padding-right: 0px;
    padding-bottom: 90px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    background-image: url(/arlo/images/2019/06/14/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
}

.sp-page-builder .page-content #section-id-1560526075010>.sppb-row-overlay {
    background-color: rgba(7, 23, 55, .8)
}

.sp-page-builder .page-content #section-id-1560526075010>.sppb-row-overlay {
    mix-blend-mode: normal;
}

#column-id-1560526075009 {
    box-shadow: 0 0 0 0 #fff;
}

#sppb-addon-1560526518333 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0px 0px 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560526518333 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560526518333 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#sppb-addon-1560526518333 .quotebox_wrap {
    clear: both;
    margin-bottom: 22px;
}

#sppb-addon-1560526518333 .quotebox_wrap i {
    color: #E3872D;
    font-size: 35px;
}

#sppb-addon-1560526518333 .definitions_wrap {
    clear: both;
    margin-bottom: 32px;
}

#sppb-addon-1560526518333 .definitions_wrap p {
    color: #fff;
    font-size: 27px;
    font-family: "Montserrat";
    font-weight: 600;
    line-height: 1.4;
}

#sppb-addon-1560526518333 .name_holder p {
    color: #fff;
    font-size: 18px;
    font-family: "Montserrat";
}

.sp-page-builder .page-content #section-id-1560526518337 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#column-id-1560526518336 {
    box-shadow: 0 0 0 0 #fff;
}

#sppb-addon-1560526518343 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0px 0px 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560526518343 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560526518343 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#sppb-addon-1560526518343 .sppb-addon-animated-number {
    position: relative;
    padding: 90px 15px 93px 15px;
}

#sppb-addon-1560526518343 .sppb-addon-animated-number:before {
    position: absolute;
    content: "";
    width: 1px;
    top: 35px;
    bottom: 35px;
    background-color: #d1d7db;
    left: 100%;
}

#sppb-addon-1560526518343 .sppb-animated-number {
    font-family: "Montserrat";
    color: #181a2f;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
}

#sppb-addon-1560526518343 .sppb-addon-animated-number .sppb-addon-content .sppb-animated-number-title {
    margin-top: 0;
    color: #666;
    font-family: "Open Sans";
    font-size: 14px;
    display: block;
    font-weight: 600;
}

@media (max-width:767px) {
    #sppb-addon-1560526518343 .sppb-addon-animated-number:before {
        display: none;
    }
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560526518343 .sppb-animated-number-title {
        margin: ;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560526518343 .sppb-animated-number-title {
        margin: ;
    }
}

#sppb-addon-1560526518350 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0px 0px 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560526518350 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560526518350 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#sppb-addon-1560526518350 .sppb-addon-animated-number {
    position: relative;
    padding: 90px 15px 93px 15px;
}

#sppb-addon-1560526518350 .sppb-addon-animated-number:before {
    position: absolute;
    content: "";
    width: 1px;
    top: 35px;
    bottom: 35px;
    background-color: #d1d7db;
    left: 100%;
}

#sppb-addon-1560526518350 .sppb-animated-number {
    font-family: "Montserrat";
    color: #181a2f;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
}

#sppb-addon-1560526518350 .sppb-addon-animated-number .sppb-addon-content .sppb-animated-number-title {
    margin-top: 0;
    color: #666;
    font-family: "Open Sans";
    font-size: 14px;
    display: block;
    font-weight: 600;
}

@media (max-width:992px) {
    #sppb-addon-1560526518350 .sppb-addon-animated-number:before {
        display: none;
    }

    #sppb-addon-1560526518350 .sppb-animated-number {
        font-family: "Montserrat";
        color: #181a2f;
        margin-bottom: 10px;
        font-size: 40px;
        font-weight: 700;
        line-height: 1;
    }

    #sppb-addon-1560526518350 .sppb-addon-animated-number .sppb-addon-content .sppb-animated-number-title {
        margin-top: 0;
        color: #666;
        font-family: "Open Sans";
        font-size: 14px;
        display: block;
        font-weight: 600;
    }
}

#sppb-addon-1560526518350 .sppb-animated-number::after {
    content: "K";
    display: inline-block;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560526518350 .sppb-animated-number-title {
        margin: ;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560526518350 .sppb-animated-number-title {
        margin: ;
    }
}

#sppb-addon-1560526518353 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0px 0px 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560526518353 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560526518353 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#sppb-addon-1560526518353 .sppb-addon-animated-number {
    position: relative;
    padding: 90px 15px 93px 15px;
}

#sppb-addon-1560526518353 .sppb-addon-animated-number:before {
    position: absolute;
    content: "";
    width: 1px;
    top: 35px;
    bottom: 35px;
    background-color: #d1d7db;
    left: 100%;
}

#sppb-addon-1560526518353 .sppb-animated-number {
    font-family: "Montserrat";
    color: #181a2f;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
}

#sppb-addon-1560526518353 .sppb-addon-animated-number .sppb-addon-content .sppb-animated-number-title {
    margin-top: 0;
    color: #666;
    font-family: "Open Sans";
    font-size: 14px;
    display: block;
    font-weight: 600;
}

@media (max-width:767px) {
    #sppb-addon-1560526518353 .sppb-addon-animated-number:before {
        display: none;
    }
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560526518353 .sppb-animated-number-title {
        margin: ;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560526518353 .sppb-animated-number-title {
        margin: ;
    }
}

#sppb-addon-1560526518356 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0px 0px 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560526518356 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560526518356 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#sppb-addon-1560526518356 .sppb-addon-animated-number {
    position: relative;
    padding: 90px 15px 93px 15px;
}

#sppb-addon-1560526518356 .sppb-animated-number {
    font-family: "Montserrat";
    color: #181a2f;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
}

#sppb-addon-1560526518356 .sppb-addon-animated-number .sppb-addon-content .sppb-animated-number-title {
    margin-top: 0;
    color: #666;
    font-family: "Open Sans";
    font-size: 14px;
    display: block;
    font-weight: 600;
}

#sppb-addon-1560526518356 .sppb-animated-number::after {
    content: "+";
    display: inline-block;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560526518356 .sppb-animated-number-title {
        margin: ;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560526518356 .sppb-animated-number-title {
        margin: ;
    }
}

.sp-page-builder .page-content #news {
    padding-top: 100px;
    padding-right: 0px;
    padding-bottom: 100px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    background-color: #f6f7fd;
}

#column-id-1560526518349 {
    box-shadow: 0 0 0 0 #fff;
}

#sppb-addon-1560526518350 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0px 0px 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560526518350 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560526518350 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#sppb-addon-1560526518350 .sppb-addon-text-block {
    padding-bottom: 100px;
    position: relative;
}

#sppb-addon-1560526518350 .sppb-addon-text-block:before {
    position: absolute;
    content: "";
    width: 6px;
    height: 72px;
    background-color: #E3872D;
    top: 2px;
}

#sppb-addon-1560526518350 .sppb-addon-title {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -.5px;
    padding-left: 25px;
    line-height: 1;
}

#sppb-addon-1560526518350 .sppb-addon-content {
    font-size: 16px;
    font-family: "Montserrat";
    padding-left: 25px;
}

#sppb-addon-1560552286216 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0px 0px 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560552286216 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560552286216 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#sppb-addon-1560552286216 .definitions_wrap {
    padding: 40px 30px 47px 30px;
    background: #fff;
}

#sppb-addon-1560552286216 .sppb-addon-articles .sppb-article-meta {
    margin: 0;
    margin-bottom: 16px;
}

#sppb-addon-1560552286216 .sppb-addon-articles .sppb-article-meta>span {
    display: inline-block;
    margin: 0;
    font-size: 14px;
    color: #333;
    font-family: "Montserrat";
    font-weight: 600;
}

#sppb-addon-1560552286216 .sppb-addon-articles .sppb-article-meta>span a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    margin-left: 23px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#sppb-addon-1560552286216 .sppb-addon-articles .sppb-article-meta>span a:before {
    position: absolute;
    content: "";
    width: 10px;
    height: 1px;
    background-color: #333;
    top: 50%;
    right: 100%;
    margin-right: 8px;
}

#sppb-addon-1560552286216 .sppb-addon-articles .sppb-article-meta>span a:hover {
    color: #BD0A0D;
}

#sppb-addon-1560552286216 h3 {
    margin-bottom: 18px;
    line-height: 1.4;
    font-weight: 600;
    font-family: "Montserrat";
    color: #041230;
    font-size: 22px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#sppb-addon-1560552286216 h3>a {
    color: inherit;
}

#sppb-addon-1560552286216 h3>a:hover {
    color: #BD0A0D;
}

#sppb-addon-1560552286216 .sppb-article-introtext {
    margin-bottom: 26px;
    color: #333;
}

.sp-page-builder .page-content #contact {
    padding-top: 100px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#column-id-1560552286222 {
    box-shadow: 0 0 0 0 #fff;
}

#sppb-addon-1560552286223 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0px 0px 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560552286223 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560552286223 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#sppb-addon-1560552286223 .sppb-addon-text-block {
    padding-bottom: 100px;
    position: relative;
}

#sppb-addon-1560552286223 .sppb-addon-text-block:before {
    position: absolute;
    content: "";
    width: 6px;
    height: 72px;
    background-color: #E3872D;
    top: 2px;
}

#sppb-addon-1560552286223 .sppb-addon-title {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -.5px;
    padding-left: 25px;
    line-height: 1;
}

#sppb-addon-1560552286223 .sppb-addon-content {
    font-size: 16px;
    font-family: "Montserrat";
    padding-left: 25px;
}

.sp-page-builder .page-content #section-id-1560552286232 {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

#column-id-1560552286233 {
    box-shadow: 0 0 0 0 #fff;
}

#sppb-addon-1560552286639 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0 0 0 0;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560552286639 {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560552286639 {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
    }
}

#sppb-addon-1560552286639 .sppb-addon-title {
    font-weight: 500;
    font-family: "Montserrat";
    line-height: 1;
    position: relative;
    margin-bottom: 30px;
}

#sppb-addon-1560552286639 .sppb-addon-content {
    color: #333;
}

#sppb-addon-1560552286639 ul {
    margin: 0px;
    list-style-type: none;
}

#sppb-addon-1560552286639 ul li {
    margin: 0px 0px 15px 0px;
}

#sppb-addon-1560552286639 ul li label {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 13px;
    color: #000;
    padding-right: 5px;
}

#sppb-addon-1560552286639 ul li a {
    color: #000;
}

#sppb-addon-1560552286639 ul li a:hover {
    color: #000;
}

#sppb-addon-1560552286640 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0 0 0 0;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560552286640 {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560552286640 {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
    }
}

#sppb-addon-1560552286640 .sppb-empty-space {
    height: 40px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560552286640 .sppb-empty-space {
        height: 40px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560552286640 .sppb-empty-space {
        height: 40px;
    }
}

#sppb-addon-1560552286643 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0 0 0 0;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560552286643 {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560552286643 {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
    }
}

#sppb-addon-1560552286643 .sppb-ajaxt-contact-form {
    margin-bottom: 100px;
    position: relative;
    top: -24px;
}

#sppb-addon-1560552286643 .sppb-form-control {
    border-radius: 0;
    font-size: 13px;
    min-width: auto;
    color: #333;
    letter-spacing: 1.4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Open Sans";
    line-height: 1.6;
    padding: 10px;
    height: 44px;
    vertical-align: middle;
    border: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    width: 100%;
    text-align: left;
    background-color: transparent;
    border-bottom: 1px solid rgba(10, 4, 37, 1);
    padding-left: 0px !important;
}

#sppb-addon-1560552286643 .sppb-form-control:focus {
    border-radius: 0;
    font-size: 13px;
    min-width: auto;
    color: #333;
    letter-spacing: 1.4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Open Sans";
    line-height: 1.6;
    padding: 10px;
    height: 44px;
    vertical-align: middle;
    border: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    width: 100%;
    text-align: left;
    background-color: transparent;
    border-bottom: 1px solid rgba(10, 4, 37, 1);
    padding-left: 0px !important;
}

#sppb-addon-1560552286643 textarea.sppb-form-control {
    height: auto;
}

#sppb-addon-1560552286643 textarea.sppb-form-control:focus {
    height: auto;
}

.sp-page-builder .page-content #section-id-1560552286247 {
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 50px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    background-color: #041230;
}

#column-id-1560552286246 {
    box-shadow: 0 0 0 0 #fff;
}

#sppb-addon-1560552286250 {
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0px 0px 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1560552286250 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1560552286250 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#sppb-addon-1560552286250 .sppb-addon-content {
    color: #fff;
}

.logo-image {
    height: 36px;
}

.logo-image-phone {
    height: 36px;
}